
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--About Us Page Css-->
<link href="~/Assets/css/about.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons-core.min.css" integrity="sha512-OmevVDECSDeo7M4G+Nvh0+VLVGS2XnEOkXWJcJ0TRom3GpGgc/ryQIgpRZw20mb5eR2U0sqsm33MaR8yD1zdsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />





<!-----------------------------------Header Section Start-------------------------------------------->
<div class="header-div">

</div>
<section>
    <img src="~/Assets/images/about/about-us-header.jpg" class="" alt="about-us-header"/>
</section>
<section>
    <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <div>
            <div class="show-up wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s" style="width:100%">
                <h1 class="header-title"><i class="fa fa-quote-left"></i> On a <fr>mission</fr> to create <fb>success story</fb> for millions of Indians what makes them <fb>happy</fb> with financial freedom <i class="fa fa-quote-right"></i></h1>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------Header Section End-------------------------------------------->
<!---------------------------------------Directors Section Start-------------------------------------------->
<div id="blog" class="blog ds ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="section-heading">
                    <h4>Our <fr>Leadership</fr></h4>
                    <div class="line-dec"></div>
                </div>
            </div>


            <!---------------------------------------Swarnendu Jana-------------------------------------------->

            <section class="how-works">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pl200">
                            <img src="~/Assets/images/about/swarnendu-jana.jpg" class="how-works__image imagealign" alt="md & Ceo swarnendu-jana">
                        </div>
                        <div class="col-lg-6" style="width:500px;">
                            <div class="how-works__content wow fadeInRight" data-wow-duration="1500ms">
                                <div class="block-title text-left">

                                    <h2 class="about2">Swarnendu Jana<br /></h2>
                                    <p class="about1">MD & CEO</p>
                                    <span class="section-title-border"></span>
                                </div>
                                <p class="director-about">
                                    Mr. Jana, young, industrious and aspiring entrepreneur has a vision to transform the BFSI landscape by leveraging technology into scalable business model that is user friendly, easily accessible and highly cost effective and where the business motto is ingrained in strong customer focus, business ethics and corporate responsibility and beyond towards the society at large.
                                </p>
                                <p class="director-about">
                                    He has embarked on this journey way back in 2017 with the same vision and since then he is soaring to great heights and making a mark in the industry with an established technology, stock broking businesses to his name and now foraying in the NBFC space. He strives to work and deliver something more and that surpasses beyond expectation
                                </p>
                                <p class="director-about">
                                    In his pastime he enjoys music and also follows the gentleman’s game called cricket.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!---------------------------------------Mr. Pralay Brahmachari-------------------------------------------->
            <section class="how-works">
                <div class="container">
                    <div class="parent" style="width:1300px">

                        <div class="right ab1">
                            <img src="~/Assets/images/about/pralay-brahmachari.jpg" class="how-works__image pbimage" alt="Mr. Pralay Brahmachari">
                        </div>
                        <div class="left pbdiv">
                            <div class="how-works__content wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="block-title text-left">
                                    <h2 class="about2">Pralay Brahmachari<br /></h2>
                                    <p class="about1">Chief Operating Officer</p>
                                    <span class="section-title-border"></span>
                                </div>
                                <p class="director-about">
                                    Mr. Pralay Brahmachari, an enthusiast banking and financial professional brings-in rich experience over 20 years, serving almost across the country with various renowned Banks and NBFC.  He has been instrumental and front liner throughout his career with proven track records and enormous achievements in his journey. Joining hands with RDQ Group he is spearheading the NBFC & Fintech wing as Chief Operating Officer to create a robust business & operations model, well complimented by technology to take it to the new heights of BFSI domain.
                                </p>
                                <p class="director-about">
                                    Prior to joining us he has been associated with SREI BNP Paribas, Kotak-ING Vysya Bank, ICICI Bank and served various leadership roles in different BFSI domains with great success.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!---------------------------------------Sanu Bhattacharya-------------------------------------------->
            <section class="how-works sanu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 sanudiv6">
                            <img src="~/Assets/images/about/sanu-bhattacharya.jpg" class="how-works__image sanuimage" alt="sanu-bhattacharya" style="">
                        </div>
                        <div class="col-lg-6" style="width:500px;padding-top:70px">
                            <div class="how-works__content wow fadeInRight" data-wow-duration="1500ms">
                                <div class="block-title text-left">
                                    <h2 class="about2">Sanu Bhattacharya<br /></h2>
                                    <p class="about1">Technical Officer</p>
                                    <span class="section-title-border"></span>
                                </div>
                                <p class="director-about">Sanu Bhattacharya's journey in the world of Information Technology began in the year 2018 and as a technical enthusiast he tries pave way for automation in the field of Finance. A young visionary in RDQ, he builds operating systems and networks for user-facing applications and promotes well-defined, scientific principles and methods. His aim is to make the organization a global leader in finance, digital transformation and technology services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </div>
</div>

<!---------------------------------------Directors Section End-------------------------------------------->
<!---------------------------------------Values Section Start-------------------------------------------->
<div id="sp" class="valuediv  ">
    <div class="container">
        <h2 class="valueheader">Values </h2>
        <h3 class="tp">
            Our values are anchored around our business ethics, consumer focus and
            corporate responsibility towards society at large.
        </h3>
        <br />
        <br>
        <br>
        <div class="row valuestep">
            <div class="col-sm-2"><p class="mp">V</p> <h5>Vision</h5></div>
            <div class="col-sm-2"><p class="mp">A</p> <h5>Action</h5></div>
            <div class="col-sm-2"><p class="mp">L</p> <h5>Leadership</h5></div>
            <div class="col-sm-2"><p class="mp">U</p> <h5 style="margin-left:-20px">Understanding</h5></div>
            <div class="col-sm-2"><p class="mp">E</p> <h5>Ethics</h5></div>
            <div class="col-sm-2"><p class="mp">S</p> <h5>Service</h5></div>
        </div>
    </div>
</div>


<!---------------------------------------Values Section End-------------------------------------------->
<!---------------------------------------How It Works Start-------------------------------------------->
<section class="ftco-section bg-light ftco-no-pt  " style="overflow:hidden">
    <div class="container">
        <div class="row justify-content-center hiwheader">
            <div class="col-md-12 section-heading wow fadeInDown text-center mb-4" data-wow-duration="0.3s">
                <div class="section-heading">
                    <h4>How It <fr>Works</fr></h4>
                    <div class="line-dec" style="margin-left:48%"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-0" style="padding-bottom:60px">
            <div class="col-md-4 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <div class="flow-wrap flow-wrap-right">
                    <div class="icon shadow" id="f1">
                        <div class="d-flex align-items-center justify-content-center"><small>1</small></div>
                        <img src="~/Assets/images/about/quick-register.png" class="quickregis" />
                    </div>
                    <div class="text">
                        <h2>Quick Register</h2>
                        <p class="mb-4 textcolor">Fill the simple form</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <div class="flow-wrap flow-wrap-2">
                    <div class="icon shadow" id="f2">
                        <div class="d-flex align-items-center justify-content-center"><small>2</small></div>
                        <img src="~/Assets/images/about/multiple-offers.png" class="multiofr"/>
                    </div>
                    <div class="text">
                        <h2>Select Multiple Offers</h2>
                        <p class="mb-4 textcolor">List of offers from multiple banks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <div class="flow-wrap flow-wrap-left">
                    <div class="icon shadow" id="f3">
                        <div class="d-flex align-items-center justify-content-center"><small>3</small></div>
                        <img src="~/Assets/images/about/apply.png" class="appl"/>
                    </div>
                    <div class="text">
                        <h2>Apply</h2>
                        <p class="mb-4 textcolor">Quick apply less than 2 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------How It Works End-------------------------------------------->
<!---------------------------------------More Reason  Start-------------------------------------------->
<section class="section bg-muted  a9">
    <div class="container">
        <div class="col-md-12 wow fadeInDown text-center mb-5 morereasonsection" data-wow-duration="0.3s">
            <div class="section-heading">
                <h4>More Reason We Choose <fr>RDQ</fr></h4>
                <div class="line-dec" style="margin-left:48%"></div>
            </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="0.3s">
            <div class="col-md-3">
                <div class="shadow p-3 mb-5 rounded wow fadeInUp" data-wow-duration="0.3s">
                    <a href="">
                        <div class="featured-box-icon text-primary text-center">
                            <img class="rounded-lg quickeligibilityimg" src="~/Assets/images/about/quick-register.png" alt="quick-register">
                        </div>
                        <hr />
                        <h1 class="text-center font-weight-500 p-1 quickeligibilityheader">
                            Quick Eligibility Check
                        </h1>
                        <h5 class="text-center quickeligibilitybody">Learn if you're eligible for an instant loan in 2 mins and get the money in 24 hrs <br /><br /></h5>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="shadow p-3 mb-5 rounded wow fadeInUp" data-wow-duration="0.3s">
                    <a href="">
                        <div class="featured-box-icon text-primary text-center">
                            <img class="rounded-lg entirelypaperlessimg" src="~/Assets/images/about/entirely-paperless.png" style="width:40%" alt="Entirely Paperless">
                        </div>
                        <hr />
                        <h1 class="text-center font-weight-500 p-1 entirelypaperlessheader">Entirely Paperless</h1>
                        <h5 class="text-center entirelypaperlessbody">From documentation to verification, every step of your application is fully digital</h5>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="shadow p-3 mb-5 rounded wow fadeInUp" data-wow-duration="0.3s">
                    <a href="">
                        <div class="featured-box-icon text-primary text-center">
                            <img class="rounded-lg creditmedalimg" src="~/Assets/images/about/crdit-model.png" alt="rdqfinserv Credit Model">
                        </div>
                        <hr />
                        <h1 class="text-center font-weight-500 p-1 creditmedalheader">Our Own Credit Model</h1>
                        <h5 class="text-center creditmedalbody">Low credit score? No problem! With our alternate credit model, you can still get a loan</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow p-3 mb-5 rounded wow fadeInUp" data-wow-duration="0.3s">
                    <a href="">
                        <div class="featured-box-icon text-primary text-center">
                            <img class="rounded-lg anywhereimg" src="~/Assets/images/about/india-map.png" alt="rdq finserv in india">
                        </div>
                        <hr />
                        <h1 class="text-center font-weight-500 p-1 anywhereheader">Anywhere In India</h1>
                        <h5 class="text-center anywherebody">Now, get an instant, paperless loan from the comfort of your home - anywhere in India</h5>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
<!---------------------------------------More Reason  End-------------------------------------------->
